.main {
  position: relative;
  height: calc(100vh);
  display: grid;
  width: 100%;
  place-items: center;
  overflow: hidden;
  &:before {
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url("/assets/images/Mobile-App-Scan.webp");
    background-position: 100%;
    background-size: 100%;
    z-index: -1;
  }
  .logo {
    margin-block: 20px;
    width: 300px;
    height: auto;
  }

  .cameraContainer {
    max-height: 490px;
    background-color: rgba(245, 235, 47, 0.1176470588);
    width: 100%;
    overflow: hidden;
    margin-top: -160px;
    // transform: translateY(-110px) translateX(-10px);
    // z-index: -2;
    video {
    //   position: absolute;
    //   top: 5%;
    //   transform: translate(-50% ,0);
    //   left: 50%;
      border-radius: 50%;
    }
  }

  .torch {
    .shade {
      fill: transparent !important;
    }
    &.active {
      .shade {
        fill: #f5eb2f !important;
      }
    }
  }
  .btnContainer {
    width: 60px;
    height: 60px;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  
  button {
    position: absolute;
    bottom:10%;
  }
}