.main {
  position: relative;
  height: calc(100vh);
  display: grid;
  width: 100%;
  place-items: center;
  overflow: hidden;
  &:after,
  &:before {
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    background-position: 100%;
    background-size: 100%;
    z-index: -1;
  }
  &:before {
    background-image: url("/assets/images/Mobile-App-Scan-1.webp");
  }
  &.active {
    &:after {
      background-image: url("/assets/images/Mobile-App-Scan.webp");
    }
  }
  &:not(.active) .scanning_bar {
    width: 100%;
    height: 3px;
    background-color: red;
    opacity: 0.7;
    position: relative;
    box-shadow: 0px 0px 8px 10px rgba(170, 11, 23, 0.49);
    top: 50%;
    animation-name: scan;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    // animation-play-state: paused;
    animation-play-state: running;
    z-index: 2;
  }
  .logo {
    margin-block: 20px;
    width: 300px;
    height: auto;
  }

  .cameraContainer {
    // height: 490px;
    height: 460px;
    width: 100%;
    overflow: hidden;
    margin-top: -110px;
    z-index: -2;
    position: relative;

    video {
      //   position: absolute;
      //   top: 5%;
      //   transform: translate(-50% ,0);
      //   left: 50%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .cookie {
    width: 100%;
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 5%;
    gap: 8px;
    flex-wrap: wrap;
  }
  .instruction_font {
    @media (max-width: 600px) {
      font-size: 4.2vw;
    }
  }
  .torch {
    .shade {
      fill: transparent !important;
    }
    &.active {
      .shade {
        fill: #f5eb2f !important;
      }
    }
  }
  .btnContainer {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 10px;
  }

  button {
    padding: 10px 20px;
    border-radius: 8px;
    height: auto;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    border: 0;
    min-width: 290px;
    margin-top: -20px;
  }
}
@keyframes scan {
  0% {
    box-shadow: 0px 0px 8px 10px rgba(170, 11, 23, 0.49);
    top: 50%;
  }
  25% {
    box-shadow: 0px 6px 8px 10px rgba(170, 11, 23, 0.49);
    top: 35px;
  }
  75% {
    box-shadow: 0px -6px 8px 10px rgba(170, 11, 23, 0.49);
    top: 98%;
  }
}
