.main {
  // background-image: url("/assets/images/layer.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .collection_cookie {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
    width: 80% !important;
    div {
      width: calc(100% - 71%);
      @media (min-width:568px) {
        width: 21%;
      }
      height: auto;
      .status_icon {
        right: 20px;
        padding: 5px;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        z-index: 1;
        &.pending {
          background: var(--bs-warning);
        }
        &.complete {
          background: var(--bs-success);
        }
        &.failed {
          background: var(--bs-danger);
        }
      }
    }
  }
}
