* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bs-warning: #eca941;
  --bs-danger: #ff0000;
  --bs-blue: #00286d;
  --bs-primary: #024299;
}
.text-primary {
  color: var(--bs-primary) !important;
}
.bg-warning {
  background-color: var(--bs-warning) !important;
}
.bg-danger {
  background-color: var(--bs-danger) !important;
}
.card {
  border-radius: 14px;
  // overflow: hidden;
  .card-header {
    border-radius: 12px 12px 0 0;
  }
}
.card .card-header,
.card {
  border-width: 2px;
  border-color: #000;
}
.float-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  max-width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0vh auto;
  font-family: "Pluto Bold";
  position: relative;
  height: 100vh;
}
html {
  &::before {
    background-color: #0050a2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
}
.fw_r {
  font-family: "Pluto Regular";
}
.fw_b {
  font-family: "Pluto Black";
}
.z_2 {
  z-index: 2;
}

.main {
  background-image: url("/assets/images/layer-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

// tel
.react-tel-input {
  input {
    padding-left: 48px !important;
  }
  .flag-dropdown {
    border-right: 1px solid #7f8fbb !important;
    border-radius: 10px 0 0 10px !important;
  }
}

// Remove Arrows/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.loader {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background-repeat: no-repeat;
  background-size: cover;
}
.alert {
  position: absolute;
  top: -300px;
  transition: 700ms all;
  width: 300px;

  &.alert-active {
    top: 10px;
  }
}
.cursor-pointer {
  cursor: pointer;
}

/* Portrait orientation */
// @media screen and (orientation: portrait) {
//   body {
//     background-color: orange;
//   }
// }
/* Landscape orientation */
// @media screen and (orientation: landscape) {
// @media screen and ( max-width :1024px) and (min-device-pixel-ratio : 2.0)
@media screen and (max-width: 1024px) and (orientation: landscape) {
  html {
    position: relative;
    background-image: url("/assets/images/rotate-1.png");
    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      z-index: 3002;
      background-image: url("/assets/images/tiltBG.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:after {
      content: "";
      z-index: 3002;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      background-image: url("/assets/images/rotate-3.svg");
      background-size: 150px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
$base: 0.6rem;
.containerArrows {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 56px;
  transform: translateY(-10px);
  display: grid;
  place-content: center;
  /* overflow: hidden; */
  position: absolute;
  bottom: -10px;
  overflow: hidden;
  
}
.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
  left: 50%;
  top: -20px;
  &:first-child {
      animation: move-chevron 3s ease-out 1s infinite;
    }
  
  &:nth-child(2) {
      animation: move-chevron 3s ease-out 2s infinite;
    }
  &:before,
  &:after {
   content: '';
   position: absolute;
   top: 0;
   height: 100%;
   width: 50%;
   background: #bcbdbfc2;
  }
  
  &:before {
   left: 0;
   transform: skewY(30deg);
  }
  
  &:after {
   right: 0;
   width: 50%;
   transform: skewY(-30deg);
  }
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}
