* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bs-warning: #eca941;
  --bs-danger: #ff0000
}
.bg-warning {
  background-color:  var(--bs-warning) !important
}
.bg-danger {
  background-color:  var(--bs-danger) !important
}
.card {
  border-radius: 14px;
  // overflow: hidden;
  .card-header {
    border-radius: 12px 12px 0 0;
  }
} 
.card .card-header,
.card {
  border-width: 2px;  
  border-color:#000;  
}
.float-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  max-width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0vh auto;
  font-family: "Pluto Bold";
  position: relative;
  height: 100vh;
}
html {
  &::before {
    background-color: #0050a2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }

}
.fw_r {
  font-family: "Pluto Regular";
}
.fw_b {
  font-family: "Pluto Black";
}

.main {
  background-image: url("/assets/images/layer-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

// tel
.react-tel-input {
  input {
    padding-left: 48px !important;
  }
  .flag-dropdown {
    border-right: 1px solid #7f8fbb !important;
    border-radius: 10px 0 0 10px !important;
  }
}

// Remove Arrows/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.loader {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background-repeat: no-repeat;
  background-size: cover;
}
.alert {
  position: absolute;
  top: -300px;
  transition: 700ms all;
  width: 300px;
  
  &.alert-active {
    top: 10px;
  } 
}
.cursor-pointer {
  cursor: pointer;
}