.main {
  // background-image: url("/assets/images/layer.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .button {
    display: inline-block;
    padding: 0 18px 0 6px;
    border: 0 none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 250ms linear;
    margin-bottom: 12px;
    margin-right: 12px;
    color: white;
    min-height: 50px;
    line-height: 46px;
    position: relative;
    text-align: center;
    width: 100%;
    margin-inline: auto;
    user-select: none;
    // text-transform: uppercase;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
   
    &.button_facebook {
      background-color: #0075ff;
      &:hover {
        background-color: #026ae0;
      }
    }
    &.button_google {
      background-color: #fff;
      border: 1px solid #fafafa;
      color: #9a9a9a;
      &:hover {
        background-color: #fafafa;
      }
    }
    &.button_google,
    &.button_facebook {
      transition: 700ms all;
      transform: translateY(0px);
      &:hover {
        transform: translateY(1.5px);
      }
    }
  }
}
%posAbs {
  position: absolute; 
}
%posAbsTR{
  @extend %posAbs;
  top: 0;
  right: 0;
}
.newLogin {
   @extend %posAbsTR;
   height: 100vh;
   width: 100%;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #00000094;
   &:before {
     @extend %posAbsTR;
    }
    .newLoginBox {
      position: relative;
      width: 80%;
      background-color: var(--bs-white);
      border-radius: 17px;
      &:not(.second) {
        padding: 20px 20px;
      }
      &.second {
       padding: 20px 20px 60px;
     } 
    }
    .button {
      cursor: pointer;
      display: block;
      padding: 13px 3px;
      font-size: 18px;
      border: 0 none;
      border-radius: 15px;
      text-decoration: none;
      transition: all 250ms linear;
      margin:0 auto  12px;
      color: var(--bs-white);
      background-color: var(--bs-blue);
      position: relative;
      text-align: center;
      width: 90%;
      user-select: none;
      // text-transform: uppercase;
      &:hover {
        background-color: var(--bs-blue);
      }
      &.button_facebook {
        background-color: #0075ff;
        &:hover {
          background-color: #026ae0;
        }
      }
      &.button_google {
        background-color: #fff;
        border: 1px solid #c4c5c0;
        color: #555555;
        &:hover {
          background-color: #fafafa;
        }
      }
    }
    .separate {
      color:#6d6d6d;
      position: relative;
      z-index: 1;
      &:before {
        content: "";
        @extend %posAbs;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #c4c5c0;
        height: 1px;
        width: 70%;
        z-index: -1;
      }
      span {
        z-index: 1;
        background-color: var(--bs-white);
        padding: 0 15px;
        font-weight: 600;
      }
    }
    .cancel {
      @extend %posAbs;
      &:not(.second){
        top: 5px;
      right: 10px;
    }
      cursor: pointer;
      transition: 700ms all;
      &:hover {
        transform: scale(1.1);
      }
     &.second{
        top: -5px;
        right: -10px;

      }
    }
    .cookie {
      @extend %posAbs;
      &.first {
        bottom: 90%;
        left: -1px;
      }
      &.second {
        top: 90%;
        right: 20px;
      }
    }
  
    .noteTwo {
      @extend %posAbs;
      top: 92.7%;
      left: 5px;
    }
    .noteOne {
      @extend %posAbs;
      bottom: 95.7%;
      right: 0px;
      pointer-events: none;
    }
    .uncleHalf {
      @extend %posAbs;
      bottom: 100%;
      left: 50%;
      transform: translateX(-70%);
    }
  }