.main {
  position: relative;
  height: calc(100vh);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  overflow-x: hidden;
  overflow-y: auto;
  &:before {
    content: "";
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-position: 100%;
    background-size: 100%;
    // background-image: url("/assets/images/thankyou/layer-3.png");
    z-index: -1;
  }
  .logoContainer {
    margin: 40px auto 140px;
  }
  .logo {
    width: 65%;
    height: auto;
  }

  .curved_text_container {
    // background-color: orange;
    width: 80%;
    position: relative;
    margin-bottom: 50px;

  }
  .thankyou_text {
    max-width: 100%;
    width: 100%;
    height: auto;
    /* margin: auto; */
    /* display: block; */
    position: absolute;
    top: -75px;
    left: 0;
    @media (min-width:0px) {
      top: -65px; 
    }
    @media (min-width:330px) {
      top: -70px;
    }
    @media (min-width:420px) {
      top: -75px;
    }
  }
  .thankyou_content {
    max-width: 330px;
  }
  .thankyou_image {
    // max-width: 80%;
    // transform: translateY(-10px);
    max-width: 85%;
    height: auto;
    margin: 0 auto 0;
    display: block;
     // .next-image {
    //   max-width: 100%;
      // div {
      //   position: unset !important;
      //   padding: 0px !important;
      // img {
        position: unset !important;
        width: 100% !important;
        max-height: 100% !important;
      // }
    // }
  // }
  }
}
.btnContainer {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  &:hover {
    box-shadow: 0px 5px 20px 1px rgba(28, 12, 12, 0.51);
  }
}
.curved_text {
  position: relative;
  display: inline-block;
  width: 500px !important;
  height: 300px !important;
  margin: 0 auto;
  font-size: 20px;
  color: #fff;
  span {
    min-width: 0.5em;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
